.menu__list{
  display: flex;
}

.menu__item{
  margin-right: 60px;

  &:last-child{
    margin-right: 0;
    
  }
}

.menu__link{
  &:hover{
    color: rgba(255, 154, 0, 0.7);
    transition: 0.3s;
  }
}

.header-menu{
  @include tablets{
    display: none;
  }
}

.footer__menu-item{
  @include phones{
    margin-right: 0;

    &:nth-child(n){
      width: 45%;
    }

    margin-bottom: 22px;
  }
}