.menu__list{
  display: flex;
}

.menu__item{
  margin-right: 60px;

  &:last-child{
    margin-right: 0;
    
  }
}

.menu__link{
  &:hover{
    color: rgba(255, 154, 0, 0.7);
    transition: 0.3s;
  }
}