.roll{
  position: absolute;
  right: 0;
  bottom: 10%;
  width: 85%;
  max-height: 103px;
  display: flex;
  justify-content: flex-end;
  
  @include desktop{
    height: 80px;
  }

  @include phones{
    & li{
      display: none;
    }
  }
}

.roll__item{
  max-width: 178px;
  position: relative;

  

  &.active,
  &:hover {
    outline: 3px solid #f29400;
    transition: outline .15s;
    z-index: 10;
  }
}

.roll__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}