.user__table-title{
  color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  font-weight: 600;
}

.user__table-desc{
  font-size: 16px;
  font-weight: 600;
  text-align: end;
}

.user__table{
  width: 100%;

  td {
    padding-bottom: 21px;
  }

  tr:last-child td {
    padding-bottom: 0;
  }

  @include tablets{
    width: 78%;
  }

  @include phones{
    width: 100%;
  }
}