.user-display{
  display: flex;
  align-items: center;

}

.user-display__avatar{
  margin-right: 11%;
}

.user-display__desc{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-display__name{
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 700;
}

.user-display__pos{
  color: rgba(255, 255, 255, 0.5);
  font-weight: 600;
}