.tag {
  white-space: nowrap;
  padding: 6px 20px;
  border-radius: 50px;
  background: #F3F6F9;
  color: rgba(51, 60, 73, 0.8);
  margin-right: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
}

.delete-tag-btn{
  width: 12px;
  height: 12px;
  margin-left: 10px;
}