script(type="text/x-template")#projects
  .projects-preview(:data-slide = "currentIndex + 1")       
    currentPreview(
      :current="current",
      :projects="projects",
      :currentIndex="currentIndex",
      @go="go",
      @goTo="goTo"
    )
    projectsText(
      :current="current"
    )

script(type="text/x-template")#projects-current-preview
  .projects-preview__pictures
    .projects-preview__pictures-content
      img(:src="current.image").projects-preview__img
      previewRoll(
        :current="current",
        :projects="projects",
        @go="go",
        @goTo="goTo"
      )

script(type="text/x-template")#projects-preview-roll
  ul.roll
    li.roll__item(
      v-for="(item, index) in projects" :key="item.id"
      :class="{active: current.id == item.id}"
    )
      a(
        @click="goTo(index)"
      ).roll__link
        img(:src="item.image").roll__img
    projectsBtns(
      @go="go",
      :current="current",
      :projects="projects"
    )

script(type="text/x-template")#projects-btns
    .projects-preview__btns
      .slider-btns 
        button(
          @click="go('next')"
          :class="{activeBtn: current !== projects[projects.length - 1]}"
        ).slider-btns__item.slider-btns__item-next
        button(
          @click="go('prev')"
          :class="{activeBtn: current !== projects[0]}"
        ).slider-btns__item.slider-btns__item-prev

script(type="text/x-template")#projects-text
  .projects-preview__info
    Tags(
      :tags="tagsArr"
    )
    .projects-preview__title {{current.title}}
    .projects-preview__desc 
      p {{current.text}}
    .projects-preview__link
      +icon("link", "projects-preview__link-img")
      a(:href="current.link").link Посмотреть сайт

script(type="text/x-template")#projects-tags
  ul.tags
    li.tags__item(v-for="tag in tags")
      .tag {{tag}}